@import "_nullstyle";

body {
	background-color: rgb(90, 91, 81);
	color: #fff;
	font-size: 14px;
	line-height: 20px;
	font-family: "Calibri";
}
h1 {
	font-size: 36px;
	line-height: 36px;
	margin-bottom: 10px;
}
h2 {
	color: rgb(79, 232, 130);
	font-size: 24px;
	line-height: 24px;
	margin-bottom: 10px;
}
.green {
	color: rgb(18, 204, 74);
}
.title {
	font-size: 26px;
	line-height: 30px;
}

.subtitle {
	font-size: 20px;
}
.button {
	color: #fff;
	background-color: rgb(18, 204, 74);
	font-size: 16px;
	line-height: 28px;
	padding: 5px 30px;
	transition-duration: 0.3s;
	&:hover {
		background-color: rgb(23, 250, 91);
		scale: 1.1;
	}
	&:active {
		background-color: rgb(15, 156, 57);
		scale: 0.9;
		transition-duration: 0.1s;
	}
}
.header {
	background: #333;
}
.header__body {
	padding: 15px 0px 10px 0px;
	h1 {
		padding-bottom: 10px;
	}
}
.wrapper {
	display: flex;
	flex-direction: column;
	width: 100%;
}
.container {
	max-width: 1200px;
	padding: 0 30px;
}
.main {
	flex: 1 1 auto;
	&__body {
		padding-top: 30px;
		display: flex;
		flex-direction: column;
		margin: 0 auto;
	}
	&__columns {
		display: flex;
	}

	&__column {
		display: flex;
		flex-direction: column;
		width: 50%;
	}

	&__img {
		position: relative;
		padding: 0 0 85% 0;
		width: 80%;
		margin: 0 auto;
		margin-bottom: 30px;
		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	&__details {
		margin-bottom: 20px;
	}
	&__foot {
		display: flex;
		justify-content: center;
	}

	&__title {
		padding-top: 10px;
		padding-bottom: 20px;
	}

	&__subtitle {
		padding-bottom: 20px;
	}

	&__description {
		margin-bottom: 15px;
		padding-right: 30px;
	}
	&__block {
		display: flex;
		justify-content: center;
		margin-bottom: 30px;
	}
	&__counter {
		background-color: rgba(173, 173, 173, 0.5);
		font-size: 16px;
		line-height: 28px;
		padding: 5px 30px;
		margin-right: 10px;
	}
	&__choice {
		display: flex;
	}
	&__cart {
		display: flex;
		flex-direction: row-reverse;
		margin-bottom: 30px;
	}
	&__rem {
		margin-left: -10px;
		background-color: rgb(168, 31, 31);
		&:hover {
			background-color: rgba(168, 31, 31, 0.6);
			scale: 1;
		}
		&:active {
			background-color: rgb(168, 31, 31);
			scale: 0.9;
		}
	}
	&__user {
		margin-bottom: 20px;
	}
	&__feedbackbody {
		width: 90%;
		margin: 0px auto;
		margin-bottom: 30px;
		background-color: rgba(208, 208, 208, 0.1);
		display: flex;
		flex-direction: column;
	}
	&__reviews {
	}
	&__reviews-column {
		padding-top: 20px;
		background-color: rgba(173, 173, 173, 0.4);
		width: 100%;
		margin: 0 auto;
		text-align: center;
		overflow: hidden;
		p {
			padding-left: 30px;
			font-size: 16px;
			text-align: start;
		}
		li {
			padding-bottom: 20px;
		}
		span {
			font-size: 18px;
		}
	}
}

.feedback {
	&__tray {
		display: flex;
	}

	&__tab {
		text-align: center;
		padding: 10px 30px;
		cursor: pointer;
	}

	&__body {
		background-color: rgba(173, 173, 173, 0.4);
		padding: 20px 0px 20px 30px;
	}
	&__form {
		display: flex;
		font-size: 30px;
		line-height: 1;
	}

	&__rating {
		position: relative;
	}
	&__rating::before {
		color: #fff;
		content: "★★★★★";
		display: block;
	}
	&__label {
		margin: 5px 0px;
	}
	&__input {
		margin: 10px 0px;
	}
	&__text {
		padding: 15px;
		resize: none;
		font-size: 16px;
		width: 500px;
		height: 200px;
	}
	&__button {
	}
}
.rating {
	&__active {
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		overflow: hidden;
	}
	&__active::before {
		content: "★★★★★";
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		color: rgb(197, 216, 29);
	}

	&__items {
		display: flex;
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
	}

	&__item {
		flex: 0 0 20%;
		height: 100%;
		opacity: 0;
	}
	&__submit {
	}
}

.product {
	background-color: rgba(208, 208, 208, 0.05);
	margin-bottom: 30px;
}
.choice {
	&__title {
		margin-bottom: 20px;
		line-height: 30px;
		margin-right: 20px;
	}
	&__innerbody {
		display: flex;
		flex-wrap: wrap;
		align-items: stretch;
	}
	&__body {
		margin-bottom: 10px;
	}

	&__color {
		cursor: pointer;
		background-color: #fff;
		margin-right: 5px;
		transition-duration: 0.3s;
		width: 50px;
		height: 35px;
		&:hover {
			scale: 1.1;
		}
		&:active {
			scale: 0.9;
			transition-duration: 0.1s;
		}
	}

	&__size {
		cursor: pointer;
		background-color: rgb(18, 204, 74);
		font-size: 14px;
		line-height: 28px;
		padding: 5px 15px;
		margin-right: 5px;
		margin-bottom: 5px;
		transition-duration: 0.3s;
		&:hover {
			scale: 1.1;
			background-color: rgb(23, 250, 91);
		}
		&:active {
			scale: 0.9;
			background-color: rgb(15, 156, 57);
			transition-duration: 0.1s;
		}
	}
}
.disabledButton {
	background-color: rgba(173, 173, 173, 0.5);
	&:hover {
		scale: none;
		background-color: rgba(173, 173, 173, 0.5);
	}
	&:active {
		scale: none;
		background-color: rgba(173, 173, 173, 0.5);
	}
}
.color__title {
	margin-right: 43px;
}
.grey {
	background-color: rgba(255, 255, 255, 0.3);
}
.olive {
	background-color: rgb(128, 126, 0);
}
.selectedtab {
	background-color: rgba(173, 173, 173, 0.4);
	cursor: pointer;
}
.footer {
	background-color: #333;
	padding: 30px 0;

	&__body {
		display: flex;
		justify-content: center;
	}
	&__logo {
		padding-right: 15px;
		img {
			width: 40px;
			height: 40px;
		}
	}
	&__copy {
		font-size: 14px;
		line-height: 36px;
	}
}
@media (max-width: 965px) {
	.main__foot {
		display: flex;
		flex-direction: column;
	}
	.main__reviews {
		flex-direction: column;
	}
}
@media (max-width: 750px) {
	.feedback__text {
		width: 400px;
	}
	.feedback__body {
		padding: 5px 0px 5px 10px;
	}
	.main__feedbackbody {
		width: 100%;
	}
}
@media (max-width: 590px) {
	.main__foot {
		display: flex;
		flex-direction: row;
	}
	.container {
		padding: 0 20px;
	}
	.main__body {
		display: flex;
		flex-direction: column;
		width: 100%;
	}
	.main__columns {
		display: flex;
		flex-direction: column;
	}
	.main__column {
		width: 100%;
	}
	.main__counter,
	.button {
		font-size: 16px;
		line-height: 28px;
		padding: 5px 15px;
	}
	.choice__title {
		font-size: 16px;
		margin-right: 10px;
	}
	.color__title {
		margin-right: 28px;
	}
	.feedback__text {
		width: 300px;
	}
}
